@model StackOverflowProject.ViewModels.EditUserPasswordViewModel
{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Change Password</h1>
        <form novalidate="novalidate" action="/account/changepassword" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            

            <div class="row">
                <div class="form-check col-sm-12">
                    <label for="txtEmail">Email</label>
                    <span class="form-text">@Model.Email</span>
                    @Html.HiddenFor(temp=>temp.Email)
                </div>
            </div>

            <div class="row">
                <div class="form-check col-sm-6">
                    <label for="txtPassword">Password</label>
                    <input type="password" class="form-control" id="txtPassword" placeholder="Password" required="required" min="6" name="Password"
                           oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Password must contain atleast 6 characters</div>

                </div>

                <div class="form-check col-sm-6">
                    <label for="txtPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password" required="required" name="ConfirmPassword" />
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Password and Confirm Password do not match</div>

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Update Password</button>

        </form>
    </div>
</div>

<script>
    $("a[href='/account/changepassword']").attr("id", "active");

    $(document).on("submit", "needs-validation", validate);
    $("needs-validation input").blur(validate);
    function validate(event)
    {
        if ($(".needs-validation")[O].checkValidty() == false)
        {
            event.preventDefault();
        }
        $("needs-validation")[O].classList.add("was-validated");
    }

    function escapeRegExp(str)
    {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/);
    }

    
</script>