@{ 
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="container-fluid text-sm-center p-5 " style="background-color:#2692b3">
            <h1>Learn,Shared,Build</h1>
            <h3>Each month over 50 million developer come to stackoverflow to learn,share their knowledge andd build thier careers</h3>
            <p class="lead">Join the world's largest developer community</p>

        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header  bg-black bg-opacity-50">Founded in 2008</div>
            <div class="card-body">
                Stack Overflow is a question and answer website for professional and enthusiast programmers.
                It is the flagship site of the Stack Exchange Network. It was created in 2008 by Jeff Atwood and Joel Spolsky. It features questions and answers on a wide range of topics in computer programming.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header  bg-black bg-opacity-50">Our Partners</div>
            <div class="card-body">
                Stack Overflow helps people find the answers they need, when they need them.
                We're best known for our public Q&A platform that over 100 million people visit every month to ask questions, learn, and share technical knowledge.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-black bg-opacity-50">Stack OverFlow Offices</div>
            <img class="card-img-top"src="~/Images/location.png" alt="Offices" />
            <div class="card-body">
                Stack Overflow helps people find the answers they need, when they need them. We're best known for our public Q&A platform that over 100 million people visit every month to ask questions, learn, and share technical knowledge.

            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>